<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/index">ViajesApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link non-selectable" routerLink="/camiones"> <i class="fas fa-truck-moving"></i> Camiones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link non-selectable" routerLink="/conductores"> <i class="fas fa-user"></i> Conductores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link non-selectable" routerLink="/viajes"> <i class="fas fa-route"></i> Viajes</a>
      </li>

    </ul>
  </div>
</nav>